* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "open sans";
}

/* responsive: mobile-first */
.page-body {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.page-body > * {
  margin: 1px;
  flex: 1 100%;
}

.page-header {
  background-color: tomato;
  height: 120px;
}

.page-footer {
  background-color: lightgreen;
  height: 80px;
}

.page-main {
  text-align: left;
  background-color: deepskyblue;
  height: 300px;
  /* height: 100vh; */
}

.page-nav__hyperlinks {
  background-color: gold;
}

.page-aside {
  background-color: hotpink;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 1em 0 0 0;
  /* background-color: #06111c; */
}

header:nth-of-type(3){
  background-color: black;
}

.nav__menu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-end;
  position: fixed;
  width: 100%;
  /* height: calc(100% - 65px); */
  height: 15em;
  background-color: #414141;
  top: -100vh;
  /* top: 60px; */
  text-align: center;
  transition: all 0.4s;
}

.menu__item {
  list-style: none;
  margin: 30px 0 0 0;
  line-height: 30px;
}

.menu__link {
  text-decoration: none;
  margin: 0.5em;
  padding: 0.5rem 1rem;
  color: #eee0dd;
  transition: 0.2s linear;
  border-radius: 4px;
}

.menu__link:hover {
  color: #06111c;
  background-color: #ccc;
}

.menu__item:hover {
  background-color: none;
}

.menu__item,
.menu__link {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}

.menu__item,
.menu__link:hover {
  color: #06111c;
}

.button-open,
.button-close {
  display: inline-flex;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
}

.button-open {
  margin-right: 1em;
}

.button-close {
  /* display: inline-flex;
  margin-right: 1em;
  font-size: 2em;
  color: #fff;
  cursor: pointer; */
  display: none;
}

@media all and (min-width: 800px) {
  .page-main {
    flex: 3;
    order: 2;
  }

  .page-nav__hyperlinks{
    flex: auto;
    order: 1;
  }

  .page-aside{
    flex: auto;
    order: 3;
  }

  .page-footer{
    order: 4;
  }

  .header__nav{
    display: flex;
    justify-content: flex-end;
    padding: 1em;
  } 

 .nav__menu {
    display: flex;
    flex-flow: row nowrap;
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    top: 0;
  }

  .button-open{
    display: none;
  }

}

/* @media all and (min-width: 600px){
  .page-nav__hyperlinks{
    flex: 1;
  }

  .page-aside{
    flex: 1;
  }
} */

/* -- */
