* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #212529;
  transition: 0.4s ease;
}

body {
  font-family: "open sans";
  background-color: #f2f2f2;
}

/* responsive: mobile-first */

.page-body {
  display: flex;
  flex-flow: row wrap;
  text-align: center;
}

.page-body > * {
  flex: 1 100%;
}

.page-header {
  width: 100%;
  height: 32em;
  background-image: url(../images/sloth-2759724_1920.jpg);
  background-attachment: fixed;
  /* background-position: center; */
  background-size: cover !important;
  background-repeat: no-repeat;
  /* position: relative; */
  /* overflow: hidden; */
  /* text-align: center; */
}

.page-header--contact {
  top: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  background-image: none;
  background-color: #8FA63C;
}

.page-footer {
  width: 100%;
}

.page-main {
  height: fit-content;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  margin: 0.2em 1em 1em 1em;
}

.page-main--contact {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: fit-content;
  backdrop-filter: blur(0px);
  box-shadow: none;
  margin: 0;
}

.page-nav__hyperlinks {
  padding: 3em 0 4em 0;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  margin: 1em 1em;
}

.page-aside {
  display: flex;
  flex-flow: column nowrap;
  backdrop-filter: blur(2px);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.1);
  margin: 0.2em 1em 1em 1em;
}

.header__nav {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: baseline;
  align-content: space-between;
  height: 100%;
}

.nav-container__principal {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: space-between;
}

.nav__menu {
  display: none;
  flex-flow: column wrap;
  justify-content: space-around;
  align-items: flex-end;
  height: 50vh;
  margin: 0;
  padding: 0;
  opacity: 0;
  width: 100%;
}

@keyframes showMenu {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.nav__menu.active {
  display: flex;
  animation: showMenu 350ms ease-in-out both;
}

.menu__item {
  list-style: none;
  margin: 30px 0 0 0;
  line-height: 30px;
}

.menu__link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  color: #212529;
  transition: 0.2s linear;
  border-radius: 4px;
  font-size: 20px;
  color: #ffffff;
  margin: 0em 0.3em;
}

.menu__link--hyperlinks {
  margin: 0;
}

.menu__link:hover {
  color: #212529;
  background-color: #ccc;
}

.menu__item:hover {
  background-color: none;
}

.menu__item,
.menu__link:hover {
  color: #212529;
}

.button-open {
  cursor: pointer;
  color: #212529;
  font-size: 1.5em;
  margin: 0.5em;
  padding: 0.2rem 0.2rem;
  background-color: #f2f2f2;
  border-radius: 2px;
  align-self: flex-start;
  justify-self: self-start;
}

.container-logo {
  align-self: flex-start;
  justify-self: self-end;
  margin: 0;
  padding: 0;
}

.container-logo__image {
  width: 150px;
  height: 100%;
  margin: -32px 0 0 -16px;
}

.nav__menu--hyperlinks {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  height: 100%;
  margin: 0;
  padding: 0;
  opacity: 1;
  width: 100%;
}

.menu__link--hyperlinks {
  color: #212529;
  font-size: 24px;
  padding: 0.3rem 0.5rem;
}

.footer__first-row {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-image: url(../images/toucan-1586967_1920.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  /* position: relative;
  overflow: hidden; */
  color: #212529;
  text-align: center;
  width: 100%;
}

.menu__list--resources-tittle {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 100%;
  text-transform: uppercase;
}

.footer-container {
  color: #f2f2f2;
  background-color: hsla(0, 0%, 95%, 0.065);
  backdrop-filter: blur(2px);
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
  padding: 1em 0.5em;
  margin: 3em 0em;
  border-radius: 10px;
  text-align: center;
  width: 50%;
}

.menu__link--footer {
  font-size: 100%;
  padding: 0;
  margin: 0;
}

.footer-container__bottom-message {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2em 0;
}

.footer-container__bottom-message--contact{
  padding: 1em 0;
  background-color: #8FA63C;
}

.section__main {
  display: none;
  padding: 2em 0;
  width: 100%;
}

.section__tittle {
  font-weight: bold;
}

.section__article {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 2em 3em;
}

.article__tittle {
  color: #212529;
  font-size: 130%;
  font-weight: bold;
  margin-bottom: 2em;
}

.img__principal {
  width: 100%;
  height: 100%;
}

.article__information {
  text-align: left;
  width: 100%;
  margin-top: 2em;
}

.aside-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsla(0, 0%, 95%, 0.065);
  backdrop-filter: blur(2px);
  padding: 1em 0.5em;
  margin: 2em 0em;
  border-radius: 10px;
}

.aside-container:hover {
  box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.5);
}

.aside-containe__image {
  width: 100px;
}

.aside_link {
  font-size: 100%;
  font-weight: bold;
}

.aside_link:hover {
  color: #8FA63C;
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  display: flex;
  flex-flow: column nowrap;
  background-color: #ffffff;
  text-align: center;
  width: 100%;
  height: 55%;
  margin: 0em 1em;
  padding: 0.4em 0.1em;
  border-radius: 10px;
}

.modal-image {
  justify-self: center;
  align-self: center;
  width: 50%;
  height: 40%;
  margin: 0.2em 0em 0.2em 0em;
}

.close {
  justify-self: flex-start;
  align-self: flex-start;
  cursor: pointer;
  color: #212529;
  background-color: #f2f2f2;
  font-size: 1.2em;
  margin: 0em 0em 0em 0.5em;
  padding: 0.4rem 0.6rem;
  border-radius: 50px;
}

.container__map {
  position: relative;
  overflow: hidden;
  width: 90%;
  padding-top: 56.25%;
}

.main__tittle-contact {
  font-weight: lighter;
  margin: 1em 0em;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.modal-tittle {
  font-weight: lighter;
}

.container__contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em 0em 1em 0em;
}

.container__contact-links {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 1.3em;
}

.contact__list {
  width: 50%;
}

.list__item {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  margin: 1.3em 0em;
}

.list__link {
  margin-left: 0.5em;
  text-align: left;
  text-decoration: none;
  font-size: 100%;
  flex: 3;
}

 /* @media only screen and (min-width: 800px) {
  .page-header {
    height: 38em;
  }

  .page-header--contact{
    height: fit-content;
  }

  .page-main {
    margin: 2em 1em 2em 1em;
    flex: 6;
    order: 2;
  }

  .page-nav__hyperlinks {
    margin: 2em 1em 2em 1em;
    padding: 0.8em 0 0 2em;
    flex: 2;
    order: 1;
  }

  .page-aside {
    margin: 2em 1em 2em 1em;
    flex: 3;
    order: 3;
  }

  .page-footer {
    order: 4;
  }

  .header__nav {
    align-items: flex-start;
    margin: 0;
  }

  .nav__menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: flex-start;
    height: fit-content;
    width: fit-content;
    top: 0;
    opacity: 1;
    padding: 0em 1em;
    transition: none;
  }

  .nav__menu--hyperlinks {
    flex-flow: column nowrap;
    align-items: flex-start;
    width: fit-content;
    padding: 0;
  }

  .container-logo__image {
    width: 200px;
    margin: -38px 0 0 -15px;
    padding: 0;
  }

  .footer__first-row {
    flex-flow: row nowrap;
    justify-content: space-evenly;
    height: 40em;
  }

  .footer-container__resources,
  .footer-container__local-transport,
  .footer-container__tourist-sites {
    width: 25%;
    height: 50%;
  }

  .aside-container {
    margin: 2em 1em;
  }

  .contact__list {
    padding-top: 1em;
    width: 100%;
    display: flex; 
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
  }

  .modal {
    width: 50%;
    height: 60%;
    padding: 0.4em 0.1em;
    border-radius: 10px;
  }

  .modal-image {
    width: 60%;
    height: 50%;
  }

  .container__map {
    width: 80%;
    padding-top: 40.25%;
  }

  .container__contact {
    padding: 3em 0em 1em 0em;
  }

  .button-open {
    display: none;
  }
} */


/* @media (max-width: 799px) and (min-width: 600px) {
  .page-nav__hyperlinks {
    flex: 1;
  }

  .page-aside {
    flex: 1;
  }

  .page-header {
    height: 45em;
  }

  .menu__link--hyperlinks {
    font-size: 28px;
  }
}    */
