<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Juan Carlos Sequeira Piedra" />
    <meta name="keywords" content="flora, fauna, naturaleza, Turrubares, contactos, mapa, Carara" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <script type="text/javascript" src="../assets/js/main.js"></script>
    <title>Flora y Fauna - Turrubares</title>
</head>

<body id="page-body" class="page-body">
    <header class="page-header page-header--contact">
        <nav class="header__nav header__nav--contact">
            <div class="nav-container__principal nav-container__principal--contact">
                <div class="container-logo container-logo--contact">
                    <a class="container-logo__link container-logo__link--contact" href="index.html">
                        <img class="container-logo__image container-logo__image--contact"
                            alt="Logo principal de la pagina web" src="../assets/images/main-logo.svg" />
                    </a>
                </div>
                <span class="material-icons button-open"> menu</span>
                <ul class="nav__menu">
                    <li class="menu__item">
                        <a href="../index.html" class="menu__link">Inicio</a>
                    </li>
                    <li class="menu__item">
                        <a href="layouts/tours.html" class="menu__link">Nuestros Tours</a>
                    </li>
                    <li class="menu__item">
                        <a href="layouts/contact.html" class="menu__link">Contactos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="page-main" class="page-main page-main--contact">
        <h2 class="main__tittle-contact">Información</h2>
        <div class="container__map">
            <iframe class="responsive-iframe"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.9916964524423!2d-84.15097868524323!3d9.934648292895996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fc7955555555%3A0x2bb39bfc67a1277c!2sTurrubares%20Coffee%20Mill!5e0!3m2!1sen!2scr!4v1621882242545!5m2!1sen!2scr"
                width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="container__contact">
            <div class="container__contact-tittle">
                <h3>Contáctenos</h3>
            </div>
            <div class="container__contact-links">
                <ul class="contact__list">
                    <li class="list__item">
                        <img class="contact__image" src="../assets/images/facebook_black_48dp.svg"
                            alt="link de la pagina de facebook">
                        <a class="list__link">Flora
                            & Fauna</a>
                    </li>
                    <li class="list__item">
                        <img class="contact__image" src="../assets/images/instagram_f_icon-icons.com_65485.svg"
                            alt="link de la pagina de facebook" style="width: 42px; height: 42px;">
                        <a class="list__link">@florayfauna</a>
                    </li>
                    <li class="list__item">
                        <img class="contact__image" src="../assets/images/email_black_48dp.svg"
                            alt="link para enviar un correo">
                        <a class="list__link">florafauna@gmail.com</a>
                    </li>
                    <li class="list__item">
                        <img class="contact__image" src="../assets/images/call_black_48dp.svg"
                            alt="link de la pagina de facebook">
                        <a class="list__link">+(506)8888-8888</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>

    <footer class="page-footer">
        <div class="footer-container__bottom-message footer-container__bottom-message--contact">
            <p>
                <small>2021 Juan Carlos Sequeira Piedra | Fines educativos</small>
            </p>
        </div>
    </footer>
</body>

</html>