<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Juan Carlos Sequeira Piedra" />
    <meta name="keywords" content="flora, fauna, naturaleza, Turrubares, contactos, mapa, Carara" />
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="../assets/css/style.css" />
    <script type="text/javascript" src="../assets/js/chooseTours.js"></script>
    <title>Flora y Fauna - Turrubares</title>
</head>

<body id="page-body" class="page-body">
    <header class="page-header page-header--contact">
        <nav class="header__nav header__nav--contact">
            <div class="nav-container__principal nav-container__principal--contact">
                <div class="container-logo container-logo--contact">
                    <a class="container-logo__link container-logo__link--contact" href="../index.html">
                        <img class="container-logo__image container-logo__image--contact"
                            alt="Logo principal de la pagina web" src="../assets/images/main-logo.svg" />
                    </a>
                </div>
                <span class="material-icons button-open"> menu</span>
                <ul class="nav__menu">
                    <li class="menu__item">
                        <a href="../index.html" class="menu__link menu">Inicio</a>
                    </li>
                    <li class="menu__item">
                        <a href="tours.html" class="menu__link">Nuestros Tours</a>
                    </li>
                    <li class="menu__item">
                        <a href="contact.html" class="menu__link">Contactos</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <main id="page-main" class="page-main page-main--contact">
        <div class="container__amount">
            
        </div>
        <section class="main-section__tours">
            <h2 class="section-tour__tittle">Tours para toda la familia</h2>
            <article class="section-tour__article">
                <h3>Tours de Descuento</h3>
                <div id="holaa" class="article__main-container">
                    <div class="article__first-row">

                    </div>
                    <div class="article__second-row">

                    </div>
                </div>
            </article>
            <article class="section-tour__article">
                <h3>Tours Familiares</h3>
            </article>
            <article class="section-tour__article">
                <h3>Tours Individuales</h3>

            </article>
        </section>
    </main>

    <footer class="page-footer">
        <div class="footer-container__bottom-message footer-container__bottom-message--contact">
            <p>
                <small>2021 Juan Carlos Sequeira Piedra | Fines educativos</small>
            </p>
        </div>
    </footer>
</body>

</html>